<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Covid.Web</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css" />
    <link rel="stylesheet" href="~/app/vendor-bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app/main.css" asp-append-version="true" />
</head>
<body class=" bg-secondary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-xl">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Covid.Web&nbsp;<sub>caypotato@@gmail.com</sub></a>

            </div>
        </nav>
    </header>
    <div id="app" class="container-xl">
        @RenderBody()
    </div>

    <script src="~/app/vendor-bundle.js" asp-append-version="true"></script>
    <script src="~/app/main.js" asp-append-version="true"></script>

</body>
</html>
